// centers canvas
// #game-canvas {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%)
// }
nav {
    display: flex;
    justify-content: space-between;
}

img {
    width: 50px;
    height: 50px
}

ul {
    list-style-type: none
}

body {
    div {
        position: relative;
        #player-health {
            position: absolute;
            top: 10px;
            left: 10px;
        }
        #timer {
            position: absolute;
            top: 10px;
            left: 80%;
        }
    }
    // .tutorial {
    //     display:flex;
    //     justify-content: space-around;
    // }
}